<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  <!-- <link rel="stylesheet" type="text/css" href="css/navbar.css"> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>
<header>
    <nav class="navbar navbar-right navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Aussi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/words">Words <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li id="accountLink" class="nav-item">
                <a class="nav-link" href="/account">My Account</a>
              </li>
            <li id="signUpLink" class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li id="loginLink" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
                <li id="logOutLink" class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                  </li>
          </ul>
        </div>
      </nav>
   </header>
<script src="js/members.js"></script>

