<head>
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>
<header>
    <a class="sr-visible sr-focusable" href="#maincontent">Skip to content</a>
<nav role="navigation" id="js-nav">
  <ul class="navbar container">
    <li class="navbar__title"><a href="/">Aussi</a></li>
    <li class="navbar__button"> 
      <button aria-label="Open Menu" id="js-navbar-btn"> <span class="sr-visible">MENU</span><span class="icon-open" aria-hidden="true">&#9776;</span><span class="icon-close" aria-hidden="true">&#10005;</span></button>
    </li>
    <li class="navbar__menu" role="menu" id="js-links">
      <ul class="navbar__menu__links" id="js-menu">
        <!-- <li role="none"><a href="#" role="menuitem">Words</a></li> -->
        <li role="none"><a href="/words" role="menuitem">Words</a></li>
        <li role="none" id="signUpLink"><a href="/signup" role="menuitem">Sign Up</a></li>
        <li role="none" id="loginLink"><a href="/login" role="menuitem">Login</a></li>
        <li role="none"><a href="/contact" role="menuitem">Contact</a></li>
        <li role="none" id="accountLink"><a href="/members" role="menuitem">My Account</a></li>
        <li role="none" id="logOutLink"><a href="/logout" role="menuitem">Log out</a></li>
        <li role="none" id="chatLink"><a href="/chat" role="menuitem">Chat</a></li>
      </ul>
    </li>
  </ul>
</nav>

<script src="js/members.js"></script>

