
  * {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  
  .card {
   
    min-width: 40% !important;
    height: auto !important;
    margin: 2rem;
    background: white;
    padding: 0 2em 2em 2em;
    border-radius: 8px;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .card:hover {
    box-shadow: 0px 25px 30px -15px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .card__content {
    margin: 0.5em 0 0;
    height: 40% !important;
    width: auto;
  }
  .card__img {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
            height: 40%;
  }
  .card__title {
    line-height: 1.2;
    font-size: 2em;
    font-weight: bold;
  }
  .card__description {
    margin: 1em 0 2em 0;
    color: rgba(8, 19, 46, 0.65);
  }
  .card__btn {
    /* display: table; */
    /* padding: 0.75em 1.75em; */
    /* background: #08132E; */
    /* color: white; */
    /* border-radius: 3em; */
    /* margin: 0 auto; */
    /* text-decoration: none; */
    /* box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.75); */
    /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  }
  .card__btn:hover {
    /* box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); */
  }
  
  .ishadow img {
    position: relative;
    z-index: 2;
    border-radius: 8px;
  }
  
  .image-shadow {
    z-index: 1 !important;
  }

  #matches {
      margin-top: 80px;
      margin-bottom: 80px;
  }

  .card {
    margin-right: 14%;
  }

  img{
height: 75%;
width: auto;
  }

  /* @media screen and (max-width: 980px) {
  
    .card {
      margin-top: 5rem;
      width: 100%;
      height: auto;
    }
  } */

  @media screen and (min-width: 980px) {
  
    .card {
      max-width: 25% !important;
      height: auto !important;
      margin: 3rem;
      background: white;
      padding: 0 2em 2em 2em;
      border-radius: 8px;
      box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.4);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
  