body {
    font-family: 'Calibri', sans-serif;
  }
  
  .post-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 950px;
    margin: 0 auto;
  }
  .post-wrapper__post {
    width: calc(33% - 20px);
    max-width: 350px;
    min-height: 240px;
    margin: 10px;
    background: #eee;
    position: relative;
    transition: .5s;
  }
  .post-wrapper__post img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    filter: grayscale(1);
  }
  .post-wrapper__post h3, .post-wrapper__post b, .post-wrapper__post__date, .post-wrapper__post__category {
    z-index: 9;
  }
  .post-wrapper__post h3 {
    padding: 50px 20px;
  }
  .post-wrapper__post h3:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 20px;
    background: pink;
    transition: .5s;
  }
  .post-wrapper__post b {
    position: absolute;
    bottom: 20px;
    right: 60px;
    color: #0aca86;
    font-size: .8em;
    transition: .5s;
    cursor: pointer;
  }
  .post-wrapper__post__date, .post-wrapper__post__category {
    padding: 20px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
  }
  .post-wrapper__post__category {
    right: 0;
  }
  .post-wrapper__post:hover {
    background: #0aca86;
    color: white;
  }
  .post-wrapper__post:hover__date, .post-wrapper__post:hover__category {
    color: white !important;
  }
  .post-wrapper__post:hover b {
    right: 20px;
    display: block;
    opacity: 1;
    color: white;
  }
  .post-wrapper__post:hover h3:before {
    content: '';
    width: 100px;
    margin-left: -30px;
  }
  .post-wrapper__post:hover img {
    opacity: .1;
  }
  

  body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #00AF93, rgb(91, 193, 169), rgb(100, 181, 143), rgb(145, 205, 107));
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container {
    width: 100%;
    /* position: absolute; */
    top: 60%;
    text-align: center;
  }

  #welcome {
      margin: 20px;
  }

 #noPosts {
bottom: 20% !important;
height: auto !important;
 }

 button {
   height: 20%;
 }

 .jumbotron .display-4 {
  font-weight: 400 !important;
  font-family: system-ui;
  color: rgb(91, 193, 169);
  text-align: center !important;
  background-color: white !important;
 }
 .jumbotron  { 
   font-size: 80% !important;
 font-family: system-ui;
 text-align: center !important;
 background-color: white !important;
}