<head>
        <meta charset="UTF-8">
        <title>Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS & JS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/blog.css" media="screen" title="no title">
        <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script> 
        <link rel="stylesheet" type="text/css" href="css/wordBtn.css">
      </head>
      <% include ../partials/navbar %>
      <body>
       
          <div class="post-wrapper">
          </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
        <script src="js/blog.js" type="text/javascript"></script>
      
      </body>
      </html>