
<head>
   
    <link rel="stylesheet" type="text/css" href="css/joinBtn.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<% include ../partials/navbar %>

<header class="header">
  
    <section class="header-content">
      
        <h1 class="header-logo">A conversation.</h1>
      
      <p>We are here to talk about feelings, really. Aussi helps you find words to describe your feelings. It also shows you there are others feeling the same exact thing. So no matter how you're feeling, I can assure you, you are not alone in this.</p>
      
      <!-- <a href="/signup" class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s header-cta">Join the community!</a> -->
  
      <a href="/signup" id="joinBtn" value="Submit" class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s header-cta" data-text="Join the community!"><span>Join the community!</span></a>
      
    </section>
    
  </header>
 

<!-- <body>
    <% include ../partials/inhale.ejs %>
</body> -->

